html, body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(224, 220, 220);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


canvas {
    display: flex;
}


/* p {
    position: absolute;
    bottom: 0;
  } */


footer {
    text-align: center;
    margin-top: 12rem;
    /*     margin-bottom: 3rem;
 */
}

.redes {
    display: inline;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.redes * {
    vertical-align: middle;
}

.redes p {
    margin-bottom: 15px;
}

.redes a {
    margin: 5px 15px;
    text-decoration: none;
    color: white;
}

.redes a:hover {
    transition: 0.5s;
    opacity: 70%;
    color: #0a3871;
}



.credito {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
}

.redes p {
    color: black;
}

.redes a {
    color: black;
}

footer {
    font-family: 'Ubuntu', sans-serif;

}

.credito {
    color: black;
}

@media(max-width: 610px) {
    html, body {
        margin: 0;
        padding: 0;
        display: flex;
        background-color: rgb(224, 220, 220);
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }
    main {
        box-sizing: border-box;

    }
    canvas {
        display: flex;

    }
    footer {
        text-align: center;
        margin-top: 5rem;
        font-family: 'Ubuntu', sans-serif;
    }
    .redes {
        display: inline;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 18px;
        font-weight: bold;
        color: white;
    }

    .redes a:hover {
        transition: 0.5s;
        opacity: 70%;
        color: #0a3871;
    }
    img {
        width: 30px;
        height: 30px;
    }
}